.ssiklo {
    margin-top: 20px;
}
.ssiklo .price, .ssiklo .number {
    background: #FFBE3D;
    border-radius: 10.8594px;
    padding: 12px 21px;
    font-size: 20px;
    line-height: 11px;
    letter-spacing: 0.271486px;
    color: #343C44;
    display: inline-block;
    margin-bottom: 10px;
}
.price span {
    font-size: 30px;
}